body {
    display: grid;
    font-size: 20px;
    background-color: #1c1c1c;
    color: white;
    font-family: Verdana, Arial, sans-serif;
    text-align: justify;
    line-height: 1.5;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #242424;
    padding: 20px;
    margin: 20px;
}

footer {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

header .social-links a {
    margin: 0.7vw;
}

header .social-links svg {
    height: 3em;
    width: 3em;
    fill: white;
}

header .social-links #resume-link-path {
    fill: #1c1c1c;
}

header a,
header a:hover {
    color: inherit;
    text-decoration: none;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    line-height: 60px;
    margin: 20px;
    font-weight: bold;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
    width: calc(70% - 100px);
    background-color: #242424;
}

.figures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

figure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

code.block {
    display: block;
    white-space: pre-wrap
}

code.inline {
    display: inline;
}

nav {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: calc(30% - 40px);
    background-color: #242424;
}

#clap {
    float: left;
    margin-bottom: 40px;
    margin-left: 20px;
    padding: 20px;
    width: calc(100% - 80px);
    background-color: #242424;
}

#clap * {
    margin: auto;
}

.row {
    width: 66%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#options * {
    margin: revert;
}

#options #alternative {
    width: 50px;
}

#options #radios,
#options #input {
    margin-left: 10px;
    margin-right: 10px;
}

textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    resize: none;
    display: block;
    width: 100%;
}

#copied {
    visibility: hidden;
}

#copied.visible {
    visibility: visible;
}

article a:link,
article a:visited,
article a:active,
nav a:link,
nav a:visited,
nav a:active {
    text-decoration-line: none;
    color: #4791e6;
}

article a:hover,
nav a:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .row { 
     width: 75%;
     }
 }

@media (max-width: 800px) {
    article {
        display: block;
        padding: 20px;
        margin: 20px;
        width: calc(100% - 80px);
    }

    nav {
        display: block;
        box-sizing: border-box;
        padding: 20px;
        margin: 20px;
        width: auto;
    }

   .row { 
    width: 95%;
    }
}
#game {
    display: flex;
    text-rendering: optimizeLegibility;
    user-select: none;
}

#left {
    width: calc(70% - 100px);
    text-transform: uppercase;
}

#right {
    margin-right: 20px;
    width: calc(30% - 40px);
}

#left,
#right {
    float: left;
    margin-left: 20px;
    padding: 20px;
    background-color: #242424;
    margin-bottom: 40px;
    height: auto;
}

#left #entry,
#left #messageBox {
    padding: 8px;
    display: block;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 32px;
    text-align: center;
    background: none;
}

#left #entry #entryContent {
    display: inline-block;
    position: relative;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

#left #entry #entryContent.valid {
    color: #e7ad00;
}

#left #entry #entryContent.invalid {
    color: #fffbee;
}

#left #entry #entryContent::after {
    content: "";
    display: block;
    position: absolute;
    right: -4px;
    top: 0;
    width: 2px;
    height: 40px;
    background-color: #e7ad00;
    -webkit-animation: 1000ms blink step-end infinite;
    animation: 1000ms blink step-end infinite;
}

.shake {
    animation: 1000ms shake step-end;
}

#gridContainer {
    margin: auto;
    overflow: visible;
    max-width: 550px;
}

#grid {
    position: relative;
    width: 105%;
    margin: 0 auto;
    padding: 0;
    margin-left: -10%;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
}

#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fffbee;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    font-size: 4vw;
    font-weight: bold;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#grid li .central-hexagon {
    background: #fdbf00;
}

#grid li .central-hexagon,
#grid li .outer-hexagon {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid li .fake-hexagon {
    display: none;
}

#grid li:nth-child(3n+2) {
    margin: 0 1%;
}

#grid li:nth-child(6n+4),
#grid li:nth-child(6n+5),
#grid li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n+4) {
    margin-left: 0.5%;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center
}

#controls .button {
    padding: 4vw;
}

@-webkit-keyframes blink {
    from,
    to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@keyframes blink {
    from,
    to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0)
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0)
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0)
    }
}

@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0)
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0)
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0)
    }
}


/* Mobile support */

@media (max-width: 450px) {
    #game {
        display: block;
    }
    #left {
        width: calc(100% - 80px);
        margin-bottom: 20px;
    }
    #right {
        width: calc(100% - 80px);
    }
}
